In [1]:
import pandas as pd
df=pd.read_excel(r"C:\Users\DELL\OneDrive\ドキュメント\wdata.xlsx",sheet_name = "abc")
df.head()

         day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-02-01           35          7  sunny
2 2017-03-01           28          2   snow
3 2017-04-01           24          7   snow
4 2017-05-01           32          4   rain

In [2]:
df.shape

(6, 4)

In [3]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-02-01           35          7  sunny
2 2017-03-01           28          2   snow
3 2017-04-01           24          7   snow
4 2017-05-01           32          4   rain
5 2017-06-01           35          2  sunny

In [4]:
df.tail

<bound method NDFrame.tail of          day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-02-01           35          7  sunny
2 2017-03-01           28          2   snow
3 2017-04-01           24          7   snow
4 2017-05-01           32          4   rain
5 2017-06-01           35          2  sunny>

In [5]:
df.tail

<bound method NDFrame.tail of          day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-02-01           35          7  sunny
2 2017-03-01           28          2   snow
3 2017-04-01           24          7   snow
4 2017-05-01           32          4   rain
5 2017-06-01           35          2  sunny>

In [6]:
df[2:5]

         day  temperature  windspeed event
2 2017-03-01           28          2  snow
3 2017-04-01           24          7  snow
4 2017-05-01           32          4  rain

In [7]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df.day

0   2017-01-01
1   2017-02-01
2   2017-03-01
3   2017-04-01
4   2017-05-01
5   2017-06-01
Name: day, dtype: datetime64[ns]

In [9]:
df.event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [10]:
type(df['event'])

pandas.core.series.Series

In [11]:
df['day']

0   2017-01-01
1   2017-02-01
2   2017-03-01
3   2017-04-01
4   2017-05-01
5   2017-06-01
Name: day, dtype: datetime64[ns]

In [13]:
df[['event','day']]

   event        day
0   rain 2017-01-01
1  sunny 2017-02-01
2   snow 2017-03-01
3   snow 2017-04-01
4   rain 2017-05-01
5  sunny 2017-06-01

In [14]:
df['temperature'].max()

35

In [15]:
df['temperature'].mean()

31.0

In [16]:
df.describe()

                       day  temperature  windspeed
count                    6     6.000000   6.000000
mean   2017-03-17 04:00:00    31.000000   4.666667
min    2017-01-01 00:00:00    24.000000   2.000000
25%    2017-02-08 00:00:00    29.000000   2.500000
50%    2017-03-16 12:00:00    32.000000   5.000000
75%    2017-04-23 12:00:00    34.250000   6.750000
max    2017-06-01 00:00:00    35.000000   7.000000
std                    NaN     4.289522   2.338090

In [17]:
df[df.temperature>=32]

         day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-02-01           35          7  sunny
4 2017-05-01           32          4   rain
5 2017-06-01           35          2  sunny

In [18]:
df[df.temperature==df.temperature.max()]

         day  temperature  windspeed  event
1 2017-02-01           35          7  sunny
5 2017-06-01           35          2  sunny

In [19]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [20]:
df.set_index('day',inplace=True)

In [21]:
df

            temperature  windspeed  event
day
2017-01-01           32          6   rain
2017-02-01           35          7  sunny
2017-03-01           28          2   snow
2017-04-01           24          7   snow
2017-05-01           32          4   rain
2017-06-01           35          2  sunny

In [23]:
df.loc['2017-01-01']

temperature      32
windspeed         6
event          rain
Name: 2017-01-01 00:00:00, dtype: object

In [24]:
df.reset_index(inplace=True)

In [25]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-02-01           35          7  sunny
2 2017-03-01           28          2   snow
3 2017-04-01           24          7   snow
4 2017-05-01           32          4   rain
5 2017-06-01           35          2  sunny