In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\DELL\OneDrive\ドキュメント\adi.csv")
df

          day  temperature  windspeed     event
0  01-01-2017           32          6      rain
1  01-02-2017       -99999          7     sunny
2  01-03-2017           28     -99999      snow
3  01-04-2017       -99999          7  no event
4  01-05-2017           32     -99999      rain
5  01-06-2017           31          2     sunny
6  01-06-2017           34          5  no event